@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  display: table;
}

canvas {
  width: 900px;
  height: 200px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
}

body {
  background: #000000;
  background-image: url("./img/2b33c27d-52f6-4bb0-9d74-327100409090.jpg");
  background-position: top center;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.principal {
  font-family: "Copperplate";
  font-size: 70px;
  text-shadow: 1px 2px 2px #000000;
}

.pl {
  font-family: "Copperplate";
  font-size: 50px;
  text-shadow: 1px 2px 2px #000000;
}

.date {
  font-family: "Copperplate";
  font-size: 40px;
  text-shadow: 2px 2px 2px #000000;
}

.wedding {
  font-family: "Brush Script MT";
  font-size: 50px;
  text-shadow: 2px 2px 2px #000000;
}

.year {
  font-family: "Copperplate";
  font-size: 23px;
  text-shadow: 3px 2px 2px #000000;
}

a {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000000;
}

a:hover {
  color:#7e0db3; 
  text-decoration:none; 
  cursor:pointer;  
}