@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  display: table;
}

canvas {
  width: 900px;
  height: 200px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
  margin-top: 20%;
}

.canvas-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta según sea necesario */
}

body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('img/2b33c27d-52f6-4bb0-9d74-327100409090.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leyenda {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(247 129 212 / 50%);
  /* Fondo semitransparente negro */
  padding: 20px;
  border-radius: 10px;
}

.nombre {
  font-family: 'Parisienne', cursive;
  font-size: 7vw;
  color: #ff22b8;
  /* Color de texto negro */
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 2px #ff22b8;
  /* Contorno blanco */
}

.ampersand {
  color: white;
  font-size: 8vw;
  -webkit-text-stroke: 0;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.7);
}

.evento {
  font-family: 'Parisienne', cursive;
  font-size: 5vw;
  color: #ff4cb4;
  /* Color de texto azul oscuro */
  margin-top: -10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px #ffc693;
  /* Contorno blanco */
}

.date {
  font-family: 'Parisienne', fantasy;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 2px #000000;
}

.pl a{
  color: white !important;
}

.pl a:hover {
  color:#b30da5 !important; 
  text-decoration:none; 
  cursor:pointer; 
  text-decoration: underline;
}

.info-container {
  width: 100%;
  text-align: center;
  margin-top: 20px; /* Ajusta según sea necesario */
}

@media (max-width: 1200px) {
  .leyenda {
    top: 20%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nombre {
      font-size: 5vw;
  }
  .ampersand {
      font-size: 6vw;
  }
  .evento {
      font-size: 4vw;
  }
  canvas {
      width: 100%;
      height: auto;
  }
}

.whatsapp-button-container {
  text-align: center;
  margin: 20px 0; /* Ajusta el margen según sea necesario */
}

.whatsapp-button {
  background-color: #d325bc; /* Color de fondo de WhatsApp */
  color: #ffffff; /* Color del texto */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  border-radius: 50px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño del texto */
  text-decoration: none;
  transition: background-color 0.3s ease; /* Efecto de transición al pasar el mouse */
}

.whatsapp-button:hover {
  background-color: #860666; /* Color de fondo cuando se pasa el mouse */
}