@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  display: table;
}

canvas {
  width: 900px;
  height: 200px;
  display: block;
  position: relative;
  background: transparent;
  margin: 40px auto;
}

body {
  background: #ec90d8;
  background-image: url("./img/2b33c27d-52f6-4bb0-9d74-327100409090.jpg");
  background-position: top center;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.principal {
  font-family: "system-ui";
  font-size: 70px;
  text-shadow: 1px 2px 2px #000000;
}

.principal .name {
    color: #dd00a1;;  /* Color para los nombres */
    text-shadow: 3px 2px 2px #ffffff;
}

.principal .ampersand {
    color: #ffffff;  /* Color blanco para el '&' */
}

.pl {
  font-family: "system-ui";
  font-size: 50px;
  text-shadow: 1px 2px 2px #000000;
}

.date {
  font-family: "system-ui";
  font-size: 40px;
  text-shadow: 2px 2px 2px #000000;
}

.wedding {
  font-family: "Brush Script MT";
  font-size: 50px;
  text-shadow: 2px 2px 2px #000000;
}

.year {
  font-family: "Copperplate";
  font-size: 23px;
  text-shadow: 3px 2px 2px #000000;
}

a {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000000;
}

a:hover {
  color:#b30da5; 
  text-decoration:none; 
  cursor:pointer;  
}
.modal-content {
    border-radius: 15px !important;  /* Bordes redondeados para el modal */
    color: #000000;
}

.modal-header {
    background-color: #cf0aa5;  /* Color de fondo para la cabecera */
    color: white;  /* Color del texto en la cabecera */
    border-top-left-radius: 15px !important;  /* Bordes redondeados en la esquina superior izquierda */
    border-top-right-radius: 15px !important;  /* Bordes redondeados en la esquina superior derecha */
}

.modal-footer {
    justify-content: center;  /* Centrar el botón en el pie de página del modal */
}

.btn-secondary {
    background-color:#db00ac !important;
}

.whatsapp-link {
    display: block;  /* Hacer que el enlace ocupe su propia línea */
    margin-top: 10px;  /* Espacio en la parte superior del enlace */
    text-shadow: 2px 2px 2px #a640b34a;
}
.btn-primary {
    color: #fff;
    background-color: #ff00cb;
    border-color: #ff00c4;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d900d5;
    border-color: #cc00b0;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 0 189 / 50%);
}